<div id="beacon_report_graph_container">
  <div id="beacon_report_graph">
  </div>
</div>

<div id="graph_selector_panel">
  <h2>Customize Report</h2>
  <br />
  
  <form>
  <%= select_tag("partner_select", 
    options_from_collection_for_select(@partners, "pid", "name")) %>
    
  <br /><br />
  <div class="bilevel_input">
    <label for="start_date">Start date:</label><br />
    <input type="text" name="start_date" id="start_date" value=""></input>
  </div>
  <div class="bilevel_input">
    <label for="end_date">End date:</label><br />
    <input type="text" name="end_date" id="end_date" value=""></input>
  </div>
  
  <div id="param_selector_container">
    <div class="param_selector_wrapper">
      <%= render :partial => "param_selector_ui" %>
    </div>
  </div>
  
  <div id="graph_selector_submit_wrapper">
    <%= submit_tag "Update report", {
      :id => "graph_selector_submit",
    } %>
  </div>
  </form>
</div>
<div style="clear:both;"></div>

<% javascript_tag do %>
  <%= render :partial => "param_selector_ui.js" %>
<% end %>
