/* CSS Styles for XGraph */

@import "extraction";
@import "generic_form";
@import "generic_ui";

a {
  color: black;
}

a:hover {
  color: #3c3d3f;
  text-decoration: underline;
}

.horizontal_link_list#href {
  color: red;
  text-align: center;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0px;
	background-color:#E6E6E6;
}

p {
	color: #333333;
	font-size: 12px;
	margin-top: 14px;
}


#wrapper {
	width: 960px;
	margin: 0px auto 10px auto;
	background-color: #FFFFFF;
}


#header {
	height: 68px;
	width: 960px;
	background-color:#FFFFFF;
}

.logo {
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 75px;
}

ul.nav {
	float: left;
	margin-top: 28px;
	margin-left: 20px;
}

.nav li {
	color: #1E3B6E;
	font-weight: bold;
	font-size: 14px;
	float: left;
	margin-left: 30px;
}

.nav li, .nav li a {
	color: #1E3B6E;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
}

.nav li a:hover {
	color: #32BBED;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
}

.nav li.current a {
	color: #32BBED;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	background-image:url(/images/triangle.png);
	background-repeat: no-repeat;
	background-position: 50% 30px;
	padding-bottom: 60px;
}

li#sub-menu {
	margin-left: 20px;
	margin-top: 1px;
}

li#sub-menu a {
	color: #32BBED;
	font-weight: bold;
	font-size: 11px;
	line-height: 14px;
	float: left;
	text-decoration: none;
}

li#sub-menu a:hover {
	text-decoration: underline;
}

/*li#sub-menu a:hover {
	color: #1E3B6E;
}*/

#main {
	height: 10px;
	width: 960px;
	background:url(/images/bg-home.png);
	background-position: top left;
	background-repeat: none;
}

#content {
	background-color:#F2F2F2;
	width: 940px;
	height: 100%;
	margin-bottom: 0px;
	padding: 10px;
}

#footer {
	width: 960px;
	height: 26px;
	background-color: #9D9FA2;
	margin-top: -15px;
}

#footer p {
	text-align: center;
	font-size: 10px;
	line-height: 26px;
	color: #FFFFFF;
}

#footer p a {
	text-align: center;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}

#footer p a:hover {
	text-align: center;
	font-size: 10px;
	color: #32BBED;
	text-decoration: underline;
}

#graph_selector_panel {
  width: 750px;
  padding: 5px;
}

.param_selector_row {
  margin-top: 5px;
  width: 350px;
}

label {
  font-size: 12px;
}

.param_selector_row input {
  width: 90px;
}

.param_selector_row a {
  font-size: 10px;
  font-family: monospace;
  text-decoration: none;
  color: #75439A;
}
.param_selector_row a:visited { color: #75439A; }
.param_selector_row a:hover { color: #75439A; }
.param_selector_row a:active { color: #75439A; }

.bilevel_input, .dimension_input {
  float: left;
  padding: 0px 5px 5px 0px;
}

#graph_selector_submit_wrapper {
  padding-top: 15px;
  float: right;
}

.raw_list {
  font-size: 15px;
  color: #3c3d3f;
}

table tbody {
  font-size: 13px;
}

#summary_table th {
  font-size: 15px;
  font-weight: bold;
}

#left_pane {
  float: left;
  width: 330px;
  padding: 10px;
}

#right_pane {
  float: left;
  width: 450px;
}

#audience {
  float: left;
}

#partner {
  padding-bottom: 15px;
}

#partner_ais {
  float: left;
  width: 100px;
  padding-left: 25px;
}

#start_date {
  float: left;
}

#end_date {
  float: right;
}

#creative_section {
  float: left;
  padding-left: 70px;
}

#existing_creatives {
  width: 420px;
  height: 130px;
}

#new_creative_form {
  position: absolute;
  padding-top: 30px;
}

#campaign_submit {
  position: absolute;
}

#creative_submit {
  float: left;
  margin-right: 300px;
}
