app/views/**/*.html.erb
config/appwall.yml
config/appwall.yml.production
config/aws.yml
config/aws.yml.production
config/database.yml
config/database.yml.production
config/fakes3.yml
config/fakes3.yml.production
config/initializers/local
config/schedule.rb
config/schedule.rb.production
config/workflows/*.yml
config/workflows/*.yml.production
config/cap_mailer_settings.rb
db/development_structure.sql
doc/debug.rtf
log/*.log
public/attachments
public/compiled/stylesheets/*.css
tmp/cache/*
tmp/pids/*
tmp/sass-cache/*
tmp/sessions/*
tmp/sockets/*
tmp/test/*
*.swp
