<div class="param_selector_row">
  <%= select_tag("param_select", 
    options_for_select(@param_names.collect { |p| 
      [p.humanize, p]
    }), :id => nil, :class => "param_select") %>
  <%= select_tag("param_op_select", 
    options_for_select(@param_operators.collect { |p| [p, p.downcase] 
  }), :id => nil, :class => "param_op_select") %>
  <input class="param_val" type="text" value=""></input>
  <%= link_to "[+]", '#', { 
    :class => "adder",
    :onclick => "paramSelectorAdd()"
  } %>&nbsp;
  <%= link_to "[-]", '#', {
    :class => "subtractor", 
    :onclick => "paramSelectorSubtract(this)"
  } %>
</div>
