/**********************************************************************************
* Table of Contents
*
* Campaign Dashboard
* Campaign New/Edit
* Creatie New/Show/Edit
* Partner New
*
**********************************************************************************/

/**********************************************************************************
* Campaign Dashboard
**********************************************************************************/

#left_pane_campaign_dashboard {
  float: left;
  width: 115px;
  margin: 11px; }

#action_links li {
  margin: 5px 0px 5px 3px; }

#right_pane_campaign_dashboard {
  float: left;
  margin: 11px;
  border-left: double;
  padding-left: 20px; }

#edit_table_campaign_dashboard {
  margin-top: 8px; }

/**********************************************************************************
* Campaign New/Edit
**********************************************************************************/

.sync_rule_checkbox_and_label label {
  float: left;
  font-size: 15px;
  margin-top: 4px;
  width: 30px; }

.sync_rule_entry_boxes label {
  min-width: 30px; }

.sync_rule_ais {
  float:left;
  margin: 7px 0px 0px 20px; }

.sync_rule_checkbox_and_label {
  width: 80px; }

.sync_rules_on_campaign_setup {
  visibility: visible; }

#audience_source_section {
  height: 36px; }

.remove_creative_link {
  float: left;
  padding: 12px 8px 0px 1px;
  font-size: 21px;
  height: 40px; }

.add_creative_link {
  font-size: 18px; }

#s3_source_select_div {
  margin-left: 30px; }

#refresh_div {
  margin-left: 30px
}

#refresh_checkbox {
  margin: 5px 0px 0px 15px; }

#s3_source_field_div {
  margin-left: 10px;
  visibility: hidden; }

/**********************************************************************************
* Campaign New/Edit
**********************************************************************************/

.creative_thumb_and_description {
  padding: 4px;
  float: left; 
  margin: 5px;
  height: 170px;
  background: #E0E0E0;
  border-radius: 4px;
  p {
    font-weight: bold;
    padding: 0px 4px 4px 4px; } }

/**********************************************************************************
* Creative New/Show/Edit
**********************************************************************************/

.pixel_list {
  margin: 0px 20px 20px 20px; }

.pixel_list h1 {
  font-size: 15px; }

.pixel_list h2 {
  padding: 9px 0px 4px 0px;
  font-size: 14px; }

.pixel_list h3 {
  font-size: 14px;
  text-indent: 7px; }

.pixel_list .pixel {
  font-size: 12px;
  padding: 1px 0px 3px 0px;
  text-indent: 7px; }

.creative_image_panel {
  float: left; }

#creative_image {
  position: relative;
  padding: 15px; }

.creative_details {
  padding-bottom: 10px; }

.pixels_for_creative {
  width: 800px; }

.green {
  color: white;
  background-color: $green; }

.red {
  color: black;
  background-color: $red; }

form#new_creative, form.edit_creative {
  padding: 15px;
  .campaigns_multi_select {
    float: left;
    select {
      width: 200px;
      height: 150px; } } 
  input[type=submit] {
    margin-top: 10px;
    float: left;
    clear: both; } }

.creative_form_without_line_item {
  float: left; 
  height: 115px;
  margin: 15px 0px 0px 0px;
  .dimension_input {
    height: 45px; } }

/**********************************************************************************
* Partner New
**********************************************************************************/

.action_tag_form, .conversion_configuration_form {
  overflow: auto; }

.action_tag_minus_sign, .conversion_configuration_minus_sign {
  width: 15px;
  float: left;
  padding: 15px; }

.action_tags_heading, .conversion_configuration_heading, .edit_existing_advertiser_heading {
  padding: 15px 0px 15px 0px; }

