/* CSS Styles for XGraph */

/* Color Golasary */
$light_blue: #32BBED;
$dark_blue: #1E3B6E;
$light_grey: #F2F2F2;
$medium_grey: #E6E6E6;
$dark_grey: #9D9FA2;
$off_black: #333333;
$bright_green: #29DB3E;
$green: #6DBC78;
$red: #D34C4C;

@import "global"; // styles applied to website wide elements and classes
@import "extraction";
@import "generic_form";
@import "generic_ui";
@import "pages"; // styles pertinent to particular pages of XGCC
