config/appwall.yml
config/appwall.yml.production
config/aws.yml
config/aws.yml.production
config/database.yml
config/database.yml.production
config/fakes3.yml
config/fakes3.yml.production
config/schedule.rb
config/schedule.rb.production
config/workflows/*.yml
config/workflows/*.yml.production
config/cap_mailer_settings.rb
db/development_structure.sql
log/*.log
tmp/cache/*
tmp/pids/*
tmp/sessions/*
tmp/sockets/*
tmp/test/*
doc/debug.rtf
*.swp
