development: &common
  http_username: 'xgraph'
  http_password: ''
  net_io_timeout: 60
  data_source_root: 'https://dex.clearspring.com/data/xgraph/v2'
  download_root_dir: '/home/etltest/data'
  temp_root_dir: '/tmp'
  s3_bucket: xgw
  clearspring_pid: 15530
  
  # Options:
  #
  # http_client: curb
  # force_system_timer: true
  # lock: true
  # once: true
  # debug: true
  # keep_downloaded: true
  # keep_temporary: true

production:
  <<: *common
