development: &development
  authentication_hash:
    auth:
      username: michael
      password: e49f27a6
  api_root_url: http://hb.sand-08.adnxs.net/
  test_codes:
    advertiser: 77777
test: *development
cucumber: *development
production: 
  authentication_hash:
    auth:
      username: production_username
      password: production_password
  api_root_url: https://api.displaywords.com/
